# TeamsFx files
node_modules
.fx/configs/localSettings.json
.fx/states/*.userdata
.fx/states/state.dev.json
.DS_Store
.env.teamsfx.local
subscriptionInfo.json
build
#.fx/configs/config.local.json
.fx/states/state.local.json
bot/urbanAPIKey.txt
.env
.env.teamsfx.local
